 fieldset{
    width: 40%;
}
body{
    background-color:aquamarine;
    padding: 10px;
}

table, tr, th ,td{
    border: 1px solid darkorange;
    border-collapse: collapse;
   text-align: center;
}
#tableForm{
    padding-bottom: 5%;
}

h4{
    padding-left: 250px;
}
fieldset label{
    padding:10px;
}
#Button{
float: right;
 }

